<h1>הודעה חדשה</h1>
<div id=createmsg>
<% form_for(@msg) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :עיר %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :תוכן %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.submit 'שלח' %>
  </p>
<% end %>

<%= link_to 'בטל', root_path %>
</div>

